.hsimp-level{color:#fff;color:rgba(255,255,255,0.9);transition:background .5s linear;background-color:#fff}.hsimp-level--bad,.hsimp-level--insecure{background-color:#c63136}.hsimp-level--ok{background-color:#de7b46}.hsimp-level--good{background-color:#2f8249}
.header-bar {
  background-color: #4F004D;
}

.header-bar img {
  width: 200px;
}

h1 {
  color: #4F004D;
}

input {
    font-family: sans-serif;
    font-size: 1em;
    font-weight: 300;
    color: #888;
    border: 1px solid #bbb;
    border-radius: 3px;
    padding: 0.25em 10px;
    line-height: 1.5em;
    min-width: 250px;
    width: 100%;
}

ul {
  padding: 0;
}

.password {
  border: 2px solid #CCC;
}

.password h2 {
  font-weight: bold;
  font-size: 20px;
}

.password--warning {
  border: 2px solid #dc3545;
}

.password--younique {
  border: 6px solid #4F004D;
}

.password--achievement {
  border: 2px solid #28a745;
}

.password--notice {
  border: 2px solid #ffc107;
}

label::after {
    content: ":";
}

div {
    margin-bottom: 10px;
}

.hsimp-checks li {
    list-style: none;
}
